
:root{
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';
    --main-cl: #757575;
    --link-cl: #212121;
    --accent-txt-cl: #2196F3;
    --white: #FFFFFF;
    --dark-bg-cl: #2F303A;
    --accent-bt: #188CE8;
    --list-bg: #F5F4FA;
    --about-bg: #E5E5E5 ;
    --heroes: #F5F4FA; 
    --foot: rgba(255, 255, 255, 0.6);
}


body{
    font-family: var(--main-font),var(--secondary-font), sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-cl);
    background-color:var(--white) ;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}


/* Header*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-txt-cl);
}

.header-accent{
    color: var(--link-cl);
}

.header-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--link-cl);
}

.active{
    color: var(--accent-txt-cl);
}

.contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-cl);
}

.header-link:hover,
.header-link:focus,
.contact:hover,
.contact:focus,
.footer-link:hover,
.footer-link:focus{
    color: var(--accent-txt-cl)
}


/* Main*/
/**h1 studio**/

.order{
    background-color:var(--dark-bg-cl);
}

.order-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.btn-order {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color:var(--white) ;
    background-color: var(--accent-txt-cl);
    cursor: pointer;
}

.btn-order:hover,
.btn-order:focus {
    background-color: var(--accent-bt);
}
  
/**section "advantage" **/

.advantage{
    background-color: var(--about-);
}

.advantage-title{
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--link-cl);
}

/**section "about"**/

.about{
    background-color: var(--about-);
}

.about-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--link-cl);
}

/**class heroes**/

.heroes{
    background-color: var(--heroes) ;
}

.heroes-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--link-cl);
}

.heroes-item{
    background-color: var(--white);
}

.hero {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--link-cl);
}

.heroes-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/*footer*/
.footer{
    background-color: var(--dark-bg-cl);
}

.footer-accent {
    color: var(--white);
}


.footer-link{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--foot);
}

.adress{
    color:var(--white);
}



/*Portfolio*/

/**main**/
.main{
    background-color: var(--about-bg);
}
 
.btn-list {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color:var(--link-cl);
    background-color: var(--list-bg);
    cursor: pointer;
}

.btn-list:hover,
.btn-list:focus{
    color: var(--white);
    background-color: var(--accent-txt-cl);
}


.btn-active{
    color: var(--white);
    background-color: var(--accent-txt-cl);
}


/**section "example"**/

.example-item{
    background-color: var(--white);
}

.example-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--link-cl);
}

.example-text{
    font-size: 16px;
    line-height: 1.88;
}






